@import "tailwindcss";

.container {
  @apply lg:max-w-[1300px] mx-auto px-4 sm:px-6 lg:px-8;
}

.nav-background {
  background-color: #0a1828;
}

.background {
  background-color: #0a1828;
}

.custom-button {
  background-color: #7169e6;
}

.gradient-button {
  background-image: linear-gradient(to right, #2563eb, #9333ea);
  transition: background-image 0.3s ease;
}
